/* src/style.css */
@import "tailwindcss";

@font-face {
  font-family: "TimelessSansVF";
  src: url("/fonts/TimelessSansVF.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TimelessSerif";
  src: url("/fonts/TimelessSerifv1.5VF.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 8);
  --duration: 10s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

/* (Optional) v4 CSS-first customization using @theme */
@theme {
  /* Break Points */
  --breakpoint-xss: 321px;
  --breakpoint-xs: 426px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  --font-sans: "TimelessSansVF";
  --font-sans-serif: "TimelessSerif";

  --font-var-400: "wght" 400, "ital" 0, "STYL" 100;
  --font-var-500: "wght" 500, "ital" 0, "STYL" 100;
  --font-var-600: "wght" 600, "ital" 0, "STYL" 100;
  --font-var-700: "wght" 700, "ital" 0, "STYL" 100;
  --font-var-700-serif: "wght" 700, "ital" 0, "STYL" 0;

  /* Colors */
  --color-gray-50: #f6f6f6;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e6e6e6;
  --color-gray-300: #ebebeb;
  --color-gray-900: #383838;

  --color-orange-50: #fff3eb;
  --color-orange-100: #ff6e05;
  --color-orange-200: #ff5e00;

  --color-blue-100: #2480fe;

  --color-red-100: #ed1d24;

  --color-green-50: #dcfce7;
  --color-green-100: #15803d;

  --shadow-2xs: 0 4px 24px 0 rgba(33, 33, 33, 0.08);
  --shadow-xs: 0 4px 8px 0 rgba(33, 33, 33, 0.04),
    0 2px 6px 0 rgba(33, 33, 33, 0.05), 0 1px 2px 0 rgba(33, 33, 33, 0.03);

  --drop-shadow-xs: 0 4px 24px rgba(255, 94, 0, 0.32);

  /* Bg Images */
  --image-banner-left: url("/images/svg/image-banner-left.svg");
  --image-banner-right: url("/images/svg/image-banner-right.svg");

  --animate-slide-up: slide-up 35s linear 0s infinite;
  --animate-slide-down: slide-down 35s linear 0s infinite;
}

.accordion-content.open {
  @apply pt-4 pr-12;
}
.footer-list .accordion-content.open {
  @apply p-0;
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-115px * 5));
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(calc(-115px * 5));
  }
  100% {
    transform: translateY(0);
  }
}

.wrapper--vertical {
  flex-direction: row;
  height: 100vh;
}
.wrapper {
  display: flex;
}
.marquee--vertical,
.marquee--vertical .marquee__group {
  flex-direction: column;
}
.marquee--vertical {
  --mask-direction: to bottom;
}
.marquee {
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  gap: var(--gap);
}

.marquee--vertical .marquee__group {
  animation: scroll-y var(--duration) linear infinite;
}
.marquee--vertical,
.marquee--vertical .marquee__group {
  flex-direction: column;
}
.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
}

.marquee--reverse .marquee__group {
  animation-direction: reverse;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}
@keyframes scroll-y {
  0% {
    transform: translateY(var(--scroll-start));
  }
  100% {
    transform: translateY(var(--scroll-end));
  }
}
@media (max-width: 767px) {
  .site-header .navbar-toggler {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    padding: 0;
    position: relative;
    top: 3px;
    width: 22px;
  }
  .navbar-home .navbar-toggler .icon-bar,
  .navbar-home .navbar-toggler.collapsed .icon-bar {
    background-color: red;
  }
  .navbar-toggler .icon-bar,
  .navbar-toggler.collapsed .icon-bar {
    background-color: #ff6e05;
    border-radius: 1px;
    display: block;
    height: 2px;
    margin-bottom: 4px;
    width: 22px;
  }
  .navbar-toggler.collapsed .icon-bar {
    transform: rotate(0);
    transition: all 0.25s;
  }
  .navbar-toggler .icon-bar {
    transition: all 0.3s ease-in;
    transition-delay: 0.25s;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
  }

  .site-header {
    flex-wrap: wrap;
  }
  .navbar-toggler .icon-bar {
    transition: all 0.3s ease-in;
    transition-delay: 0.25s;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
  }
  .top-bar {
    margin-left: 3px;
    margin-right: 3px;
    transform: rotate(45deg);
    transform-origin: 10% 10% 0;
  }
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    transform: translate(13%);
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    margin-left: 3px;
    margin-right: 3px;
    transform: rotate(-45deg);
    transform-origin: 10% 90% 0;
  }
  .site-header.menu-opened {
    height: 100%;
    transition: all 0.5s ease-out;
  }
  .navbar-collapse {
    opacity: 0;
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
    width: 100%;
  }
  .navbar-collapse.nav-open {
    opacity: 1;
    padding-left: 0;
    transform: scale(1);
    transition-delay: 0.2s;
    width: 100%;
  }
  .site-header {
    height: 60px;
    transition: all 0.5s ease-out;
    overflow: hidden;
  }
  .accordion-content.open {
    @apply pr-0;
  }
}

@media (max-width: 640px) {
  :root {
    --size: clamp(6rem, 1rem + 25vmin, 18rem);
    --gap: calc(var(--size) / 3.5);
  }
}
